.nav-item.active a{

  color: orange;
}
.nav-item a.nav_link:hover{
	color: orange;
}
.img-responsive{
	max-width: 100%;
}
.simple_link{
	text-decoration: none !important;
	color: #000;
}
.logout{
	color: #f00;
	display: inline-block;
	padding: 4px 25px;
}
.logout:hover{
	color: #FF7A33;
}
.loginbox
{
	padding: 30px;
}
.rowx{
	display: flex;
}
.justify-content-center{
	justify-content: center !important;
}
.formbx{
	width: 50%;
	border: solid 1px #ccc;
	box-shadow: 2px 2px 15px #ccc;
}
.header{
	width: 100%;
	background: #004EBE;
	padding: 6px;
	text-align: center;
}
.header h4{
	color: #fff;
}
.bx-body{
	width: 100%;
	padding: 45px 145px;
}
.parsley-error{
	border: solid 1px #f00;
}
.parsley-error:focus{
	outline: none;
}
.parsley-errors-list{
	display: none;
}
input:focus{
	outline: none;
}
.pd-130{
	padding-top: 120px;
	padding-bottom: 130px;
}
.more-block{
	margin-bottom: 15px;
}
.titles{
	padding-top: 30px;
	padding-bottom: 50px;
}
.thumbVid{
	width: 100%;
	margin-bottom: 20px;
	padding: 15px;
}
.thumbVid video{
	width: 100%;
}
.video-title span{
	color: #0060f1;
	font-weight: bold;
	font-size: 16px;
}
.watch-wraper
{
	padding-bottom: 60px;
	padding-top: 20px;
}
.subject-title{
	padding-top: 0;
	padding-bottom: 65px;
}
.subject-title h3 {
    position: relative;
}

.subject-title h3 span {
    padding-bottom: 15px;
    border-bottom: 6px solid #1A70A4;
}

.subject-title h3{
	font-weight: bolder;
	color: #1A70A4;
}
.small_links{
	padding: 0;
	margin: 0;
}
.small_links li{
	list-style-type: none;
	padding: 6px 10px;
}
.small_links li a{
	color: #1A70A4;
	text-decoration: none;
}
.playerdiv
{
    width: 100%;
    height: 480px;
}
.falseVideo{
    width: 100%;
    height: 450px;

}
.op0{
    opacity: 0.65 !important;
}
.tab-details{
	padding: 0;
	margin: 0;
}
.tab-details li{
	list-style-type: none;
	display: inline-block;
	padding: 6px;
	text-align: center;
	width: 50%;
	float: left;
	cursor: pointer;
}
.tab-details li.active{
	background: #1A70A4;
	color: #fff;
}

.nav-link-hmw{
	padding: 0;
	margin: 0;
}
.nav-link-hmw li{
	list-style-type: none;
	padding: 4px;
}
.nav-link-hmw li a:visited{
	color: #f00;
}
.small_inc{
	width: 80px;
}
.pd-b-20{
	padding-bottom: 20px !important;
}
.vidTitles{
	padding: 0 20px;
}
.vidTitles h3{
	font-weight: bolder;
}
.brd-top{
	padding-top: 30px;
	border-top: 1px solid #f2f2f2;
}
.resource-details{
	padding: 15px;
}
.resource-details ul{
	padding-left: 20px;
}
.resource-details h1,h2,h3,h4,h5,h6{
	font-weight: bolder;
}
.btn-subj{
	background: linear-gradient(
90deg, rgba(39,67,91,1) 0%, rgba(29,94,148,1) 40%, rgba(12,75,127,1) 100%);
    border-radius: 10px;
    text-align: center;
    color: #fff;
}
.container-job{
	padding-left: 75px;
	padding-right: 75px;
	margin-top: 40px;
}
.job-content .content-header{
	width: 100%;
	padding: 20px;
	background: linear-gradient(90deg, #008DDE,#00B9DE);
	border-radius: 30px 30px 0px 0px;
	margin-bottom: 20px;
}
.content-body{
	padding: 25px;
}
.job-card{
	width: 100%;
	height: 300px;
	padding: 18px;
	display: flex;
	border: solid 1px #C4C5C5;
	transition: box-shadow 0.5s;
	border-radius: 10px;
	margin-bottom: 20px;
	cursor: pointer;
}
.job-card:hover{
	box-shadow: 5px 5px 30px #A2ACAF;
}
.job-title{
	font-size: 16px;
	font-weight: bolder;
	color: #00B9DE ;
	padding-bottom: 30px;
}
.job-details{
	padding-bottom: 15px;
}
.btn-grad{
	padding: 6px 15px;
	display: inline-block;
	width: 100%;
	font-size: 15px;
	color: #0385C6;
}
.job-details span{
	display: inline-block;
	padding: 0 15px;
}
.btn-sm-round{
	padding: 6px 25px;
	background: linear-gradient(90deg, #E99800,#FFAE17);
	font-weight: bolder;
	color: #fff;
}

.sm-logo img{
	max-width: 100%;

}
.apply-btn
{
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
}	
.pagination .page-item{
	margin-left: 10px;
	text-align: center;
}
.mock{
	padding-top:50px ;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 70px;
}
.topics{
	padding: 8px;
	margin: 0;
}
.topics li{
	list-style-type: none;
	padding: 6px 15px;
	color: #FF7617;
}
.ldb{
	padding-top: 30px;
}
.ldb p{
	padding: 6px;
}
.newBtn{
	background: #FF7617;
	font-weight: bolder;
	font-size: 18px;
	color: #fff;
	padding: 4px 30px;
}
.flashMsg{
	position: fixed;
	top: 95px;
	right: 20px;
	
}
.succMsg{
	padding: 4px 45px;
	border: 1px #090;
	box-shadow: 2px 2px 15px #090;
	background: #fff;
	border-radius: 10px;
	color: #090;
}

.errMsg{
	padding: 4px 45px;
	border: 1px #f00;
	box-shadow: 2px 2px 15px #f00;
	background: #fff;
	border-radius: 10px;
	color: #f00;
}
.page_texts{
	padding-left: 15px;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 10px;
}
.page_texts ul{
	padding: 15px;
	margin: 10px;
}
.page_texts ul li{
	padding: 4px 15px;
}
.ban1{
	padding-top: 60px;
	padding-bottom: 10px;
}
.deal-offer-wrapper-new{
	padding: 6px;
	background: #0c4b7f;
	
}
.enroll-btn-new{
	background: #fff;
	padding: 6px 45px;
	color: #3766FA;;
}
.members
{
	padding: 25px;
	width: 100%;
	display: block;
}
.member-img-new{
	width: 100%;
	padding-bottom: 30px;
	
}
.member-img-new .img-circle{
	width: 95px;
	height: 95px;
	
}
.member-img-new .img-circle img{
	max-width: 100%;
	border-radius: 50%;
	display: block;
    margin: 0 auto;
}
img.center{
	display: block;
    margin: 0 auto;
    max-width: 100%;
    height: 95px;
    width: 95px;
    border-radius: 50%;
}
.person-content {
	padding-top: 0;
    margin-top: 50px;
    height: 150px;
    overflow: scroll;
}
.person-content::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.person-content {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
@media only  screen and (max-width: 991px){
	.deal-offer-wrapper-new{
		text-align: center;
	}
	.container-job{
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 40px;
}
	.loginbox
	{
		padding: 0;
	}
	.formbx{
		width: 100%;
	}
	.bx-body{
		width: 100%;
		padding: 20px 15px;
	}
	.playerdiv
	{
	width: 100%;
	height: 200px;
	}
	.falseVideo{
	width: 100%;
	height: auto;

	}
	.course{
		text-align: center;
	}
	.all-steps h4{
		font-size: 18px;
	}
	.title{
		font-size: 16px;
	}
	.ban1{
	padding-top: 20px;
	padding-bottom: 10px;
}
}
.tx-22{
	font-size: 22px !important;
}
/*====================================================================================
======================================================================================
					STEPS
=======================================================================================
=======================================================================================
*/
.all-steps{
	padding: 15px 30px;
}
.step {
  position: relative;
  min-height: 1em;
  color: gray;
}
.title {
  line-height: 1.5em;
  font-weight: bold;
  font-size: 18px;
  color: #000;
}
.caption {
  font-size: 0.8em;
}
.step + .step {
  margin-top: 1.5em
}
.step > div:first-child {
  position: static;
  height: 0;
}
.step > div:not(:first-child) {
  margin-left: 1.5em;
  padding-left: 1em;
}
/* Circle */
.circle {
  background: gray;
  position: relative;
  width: 1.8em;
  height: 1.8em;
  line-height: 1.8em;
  border-radius: 100%;
  color: #fff;
  text-align: center;
  box-shadow: 0 0 0 3px #fff;
  z-index: 2;
}
/* Vertical Line */
.circle:after {
  content: ' ';
  position: absolute;
  display: block;
  top: 1px;
  right: 49%;
  bottom: 1px;
  left: 49%;
  height: 100%;
  width: 2px;
  transform: scale(1, 2);
  transform-origin: 50% -100%;
  background-color: #4285f4;
  z-index: 1;
}
.step:last-child .circle:after {
  display: none
}
.step.step-active {
  color: #4285f4
}
.step.step-active .circle {
  background-color: #4285f4;
}
.course span{
	font-size: 16px;
}
.btn-primary-new{
	background:#4285f4;
	color: #fff;
	padding: 6px 45px;
	margin-bottom: 15px;
}
.btn-success-new{
	background:#46c655;
	color: #fff;
	padding: 6px 45px;
	margin-bottom: 15px;
}
/*====================================================================================
======================================================================================
					STEPS
=======================================================================================
=======================================================================================
*/
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
.modal-dialog {
    position: relative;
    width: 100%;
    margin: 2% auto;
    pointer-events: none;
    opacity: 1;
}
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
}
.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #edecf7;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}
.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 25px;
}
.modal-backdrop.show {
    opacity: 1;
    z-index: 99999;
}
.mt-4{margin-top: 60px !important;}

.more-block-wrap{padding:20px 0}
.more-block-sub{background: linear-gradient(90deg, #079CC4 0%, #18C4F3 40%, #11ABD5 100%);
height: 200px;border-radius: 10px;text-align: center;display: flex;flex-direction: column;justify-content: center; padding: 15px;}
.more-block-img-sub img{width: 55px;margin: 0 auto}
.more-block-sub h3{font-size: 18px;color: #fff; margin-top: 15px;}
.more-block-sub{margin-top: 15px;}

.job-banner{
	width: 100%;
	padding: 15px;
	height: 550px;
	background: url('../images/trading.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.prod_box{
	width: 100%;
	padding: 0;
	box-shadow: 2px 2px 15px #ccc;
	border-radius: 20px 20px 0 0;
	position: relative;
}
.prod_box .btm{
	position: absolute;
	bottom: 15px;
	left: 0;
	width: 100%;
}
.prod_title{
	width: 100%;
	background: linear-gradient(45deg, #890BFF, #503DCD);
	padding: 15px;
	text-align: center;
	color: #fff;
	height: 75px;
	overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.prod_img{
	width: 100%;
	border-radius: 20px 20px 0 0;
	height: 185px;
	background: url('../img/def3.png');
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	padding: 65px 25px;
	color: #fff;
}
.prod_body{
	width: 100%;
	padding: 15px;
}
.prod_body p{
	overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.prod_fetr{
	padding: 0;
	margin: 0;
	overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
.prod_fetr li{
	list-style-type: none;
	padding: 4px;
	font-size: 13px;

}
.prod_fetr li:before{
	content: "✓";
	margin-right: 8px;
	color: #090;
}
.ht-250{
	height: 250px;
}
a.blank_link{
	text-decoration: none;
	color: #3C3C3E;
}

.prof{
	text-align: center;
	width: 100%;
}
.prof .prof_text{
	display: inline-block;
	width: 65px;
	height: 65px;
	border: solid 1px #ccc;
	border-radius: 50%;
	line-height: 65px;
	font-size: 22px;
	font-weight: 700;
}
.alligns-items-center{
	align-items: center !important;
}
.profile_links{
	padding: 0;
	margin: 0;
}
.profile_links li{
	padding: 4px;
	list-style-type: none;
}
.profile_links li a{
	color: #056887;
	text-decoration: none;
}
.cors_block{
	background: linear-gradient(90deg, rgba(39,67,91,1) 0%, rgba(29,94,148,1) 40%, rgba(12,75,127,1) 100%);
	color: #fff;
	height: 120px;
}
a .cors_block:hover{
	background: #fff;
	color: #000;
}
.card-img-absolute {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

/* New Custom CSS here */
.main_banner{
	width: 100%;
	height: 450px;
	background: url('../img/stoc_ban.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}
.ban_cover{
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.65);
	left: 0;
	top: 0;
	padding: 75px 15px;
}


