@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/***************************Common CSS**********************************/
    /*#region*/
    *{margin: 0;padding:0}
    body{font-family: 'Open Sans', sans-serif;font-size: 14px;background: #fff;}
    h1,h2,h3,h4,h5,h6{margin:0;font-weight: normal;}
    span,p,ul,label{margin:0}
    .main-wrapper .container{max-width: 1700px;}
    .mobile-view{display: none;}
    .red{color: #f00 !important;}
    /*#endregion*/

/************************Home Page******************************/
    /*#region*/
    /**********Header**************/
    .header-wrapper{background: #fff;padding: 15px 0;}
    .gamma-header{padding:0;justify-content: space-between;}       
    .custom-logo img{width: 302px}
    .custom-nav{flex-direction: row-reverse;}
    .login-wrapper{display: flex;align-items: center;}
    .login-button{margin-left: 20px;}
    .custom-nav li a{font-weight: 600;}
    .custom-nav li a,.login-button a{font-size: 16px;color: #000;transition: ease-in 0.5s;}
    .custom-nav li a:hover{color:#0c4b7f;transition: ease-in 0.5s;}
    .login-button a{padding: 10px 20px;background: #0c4b7f;color: #fff;border-radius: 5px;transition: ease-in 0.5s;border:1px solid transparent}
    .login-button a:hover{background: #fff;border:1px solid #0c4b7f;color: #0c4b7f;text-decoration: none;}
    .gamma-header .navbar-toggler-icon {background-image: url('../images/menu.png');}
    .gamma-header .navbar-toggler{border:1px solid #000}
      
    /*************Get Job Banner*************/
    .get-job-banner-wrapper{background: #fcfcfc;padding:20px 0 0 0;overflow: hidden;}
    .job-content-block {text-align: center;}
    .job-content-block h1{font-size: 36px;color: #000;line-height: 60px;font-weight: bold;text-transform: uppercase;}
    .enroll-banner{width: 800px;display: flex;align-items: center;justify-content: space-between;margin: 50px auto;}
    .enroll-banner p{font-size: 30px;font-weight: bold;text-transform: uppercase;}
    .enroll-now-btn{background: #0c4b7f;border-radius: 5px;font-size: 20px;color: #fff;padding: 10px 30px;border:1px solid transparent;transition: ease-in 0.5s;}
    .enroll-now-btn:hover{background: #fff;border:1px solid #0c4b7f;color: #0c4b7f;text-decoration: none;transition: ease-in 0.5s;}
    .job-banner{text-align: center;position: relative;z-index: 99;}
    .job-banner img{border-top-left-radius: 10px;border-top-right-radius: 10px;}
    .orange-round{position: absolute;background: #ffa201;width: 300px;height: 300px;border-radius: 50%;top:-130px;right: 90px;z-index: -9;}
    .green-box{background: #0ffa3e;position: absolute;width: 200px;height: 200px;border-radius: 30px;bottom: 0;left:150px;z-index: -9;transform: rotate(60deg);}
    
    /****************Price Wrapper******************/
    .price-wrapper{padding:40px 0;text-align: center;}
    .price-block h2{font-weight: bold;text-transform: uppercase;font-size: 26px;}
    .price-block h2 span{color: #0c4b7f;}
    .refund-block{padding:0 20px}
    .refund-block h1{text-transform: uppercase;font-weight: bold;font-size: 26px;}
    .seat-block p{font-size: 26px;text-transform: uppercase;color: #ff4040;font-weight: bold;}
    .price-panel{display: flex;align-items: center;flex-wrap: wrap;justify-content: center;}

    /***************Deal Offer Wrapper**********************/
    .deal-offer-wrapper{background: #0c4b7f;padding: 50px 0;}  
    .deal-discount{display: flex;align-items: center;justify-content: center;}
    .deal-discount img{width:40px}
    .deal-discount p{padding-left: 15px;font-size: 26px;color: #fff;} 
    .deal-button{text-align: center;display: flex;justify-content: center;padding-left: 20px;}
    .whatsapp-btn{font-size: 18px;padding:10px 24px;background: #46c655;border-radius: 25px;text-transform: uppercase;color: #fff;display: flex;
    align-items: center;}
    .enroll-btn{font-size: 18px;padding:10px 24px;background: #f8f8f8;border-radius: 25px;text-transform: uppercase;color: #0c4b7f;margin-left: 20px;}
    .deal-button a{transition: ease-in 0.5s;}
    .deal-button a:hover{border:1px solid #f8f8f8;background: transparent;color: #f8f8f8;transition: ease-in 0.5s;}
    .people-love{font-size: 36px;font-weight: 500;color: #fff;text-align: center;}
    .whatsapp-btn img{width: 30px;margin-right: 10px;}
    .deal-block{display: flex;align-items: center;justify-content: center;}

    /****************Course Details Wrapper******************/
    .course-wrapper .row{align-items: center;}
    .course-wrapper{padding:30px 0}
    .common-title h3{text-align: center;font-size: 26px;font-weight: bold;margin-bottom: 40px;text-transform: uppercase;}
    .course-content p{font-size: 16px;line-height: 24px;margin-bottom: 25px;}
    .course-round{background: #0c4b7f;border-radius: 50%;width: 180px;height: 180px;display: flex;align-items: center;justify-content: center;}
    .course-round img{width:40px}
    .course-img-content p{padding-left: 10px;font-size: 16px;font-weight: bold;color: #fff;text-transform: uppercase;}
    .course-design-content{display: flex;align-items: center;justify-content: space-between;}
    .rupee-img img{width: 60px;}
    .rs-content{margin-left: -15px;}

    /****************Download Structure******************/
    .download-structure-wrapper{background: #0c4b7f;padding: 30px 0;}
    .download-structure{display: flex;align-items: center;justify-content: center;}
    .download-structure p{color: #fff;font-size: 20px;font-weight: bold;}
    .download-btn{font-size: 18px;padding:10px 24px;background: #f8f8f8;border-radius: 25px;text-transform: uppercase;color: #0c4b7f;margin-left: 50px;transition: ease-in 0.5s;}
    .download-btn:hover{border:1px solid #f8f8f8;background: transparent;color: #f8f8f8;transition: ease-in 0.5s;} 

    /***************Student Stories*******************/
    .student-slider .slick-track{padding: 30px 0;}
    .student-stories-wrapper{padding:30px 0}
    .student-detail{width: 250px;height: 200px !important;box-shadow: 0px 0px 12px -6px rgba(0,0,0,0.5);border-radius: 8px;padding: 15px;display: flex !important;flex-direction: column;justify-content: space-evenly;
    margin-right: 20px;}
    .student-info{display: flex;align-items: center;}
    .student-company-logo img{height: 30px;}
    .student-img img{width: 60px;height: 60px;border-radius: 50%;}
    .student-info-content p{font-size: 14px;line-height: 24px;font-weight: 600;padding-left: 15px;}
    .student-stories-wrapper .container{max-width: 100%;padding: 0;}
    .student-slider{margin: 0 25px;}

    /****************Covered Wrapper********************/
    .covered-wrapper{background: #fcfcfc;padding: 30px 0;}
    .covered-align{align-items: center;}
    .covered-content{max-width: 800px;margin: 0 auto;    overflow: hidden;}
    .coding-content{background: #0c4b7f;border-radius: 10px;width: 400px;padding: 10px 15px;display: flex;align-items: center;margin-bottom: 15px;}
    .coding-round{background: #fff;width: 40px;height: 40px;border-radius: 50%;display: flex;align-items: center;justify-content: center;}
    .coding-round img{width: 30px;}
    .coding-title h4{font-size: 18px;text-transform: uppercase;color: #fff;padding-left: 15px;}
    .covered-text{text-align: right;}
    .title-left{text-align: left;}
    .covered-text h3{font-size: 20px;font-weight: bold;}
    .orange-bg{background: #ffa201;}

    /******************Mentor Wrapper***************************/
    .mentor-card-wrapper{padding:30px 0}
    .member-img img{width: 100%;height: 470px;}
    .member-info{background: #efefef;padding: 20px;}
    .mentor-card-content{padding:0 100px;margin:20px 0}
    .member-name{color: #5a5a5a;font-weight: 500;}
    .member-description{color: #979797;}
    .member-degree{margin:10px 0;font-weight: 400;}
    .member-company{margin-bottom: 15px;font-weight: 400;}

    /******************More You can do Wrapper*****************/
    .more-can-wrapper{background: #fcfcfc;padding: 30px 0;}
    .more-block-wrap{padding:20px 0}
    .more-block{background: linear-gradient(90deg, rgba(39,67,91,1) 0%, rgba(29,94,148,1) 40%, rgba(12,75,127,1) 100%);
    height: 200px;border-radius: 10px;text-align: center;display: flex;flex-direction: column;justify-content: center;}
    .more-block-img img{width: 55px;margin: 0 auto}
    .more-block h3{font-size: 18px;color: #fff;margin-top: 10px;}

    /******************WHy Gamma Prep Wrapper**********************/
    .why-gamma-prep-wrapper{background: #f7f7f7;padding: 30px 15px;}
    .gamma-img img{width:100%}
    .gamma-block-wrap .row{align-items: center;}
    .gamma-img{margin-right: -30px;}
    .gamma-content p{font-size: 20px;}

    /****************Get Placed Wrapper********************/
    .get-placed-wrapper{padding: 30px 0;}
    .placement-company-img{margin-bottom: 30px;}
    .place-block{text-align: center;margin: 50px 0 0 0;padding: 0 100px;}
    .placement-company-img img{ max-width: 100% !important; }

    /***************FAQ**************/
    .pad-tb{padding:30px 0}
    .card-2 .card-header button:hover{color:#050748;}
    .card-2 .card-header{padding:10px;border:0;}
    .card-2 .card-header button{border:0;padding:0;color:#050748;font-size:18px;font-weight:600;}
    .accordion .acc-icon:after{font-family:"Font Awesome 5 Free";content:"\f068";font-weight:bold;position:absolute;font-size:14px;right:30px;color:#050748;}
    .accordion .acc-icon.collapsed:after{content:"\f067";font-weight:bold;}
    .accordion .card-title:after{font-family:"Font Awesome 5 Free";content:"\f068";font-weight:bold;position:absolute;font-size:14px;right:15px;top:14px;background:#0c4b7f;width:25px;height:25px;line-height:25px;text-align:center;border-radius:100px;color:#fff;}
    .accordion .card-title.collapsed:after{content:"\f067";font-weight:bold;}
    .card-header .btn-link:hover{color:#6a6a8e;text-decoration:none;}
    .card-header .btn-link.focus, .btn-link:focus{text-decoration:none;box-shadow:none;}
    .accordion .card-body{-ms-flex:1 1 auto;flex:1 1 auto;min-height:1px;padding:0px 15px 15px 15px;}
    .panel .panel-collapse .collapse{transition:transform .25s ease-in-out;-webkit-transition:-webkit-transform .25s ease-in-out;}
    .card-1 .card-header{padding:10px 15px;margin-bottom:0;background-color:transparent;border-bottom:0;position:relative;cursor:pointer;}
    .card-1{border:1px solid #cae7ff;overflow:hidden;-webkit-border-radius:8px;border-radius:8px;margin-bottom:20px;padding:0px;}
    .card-1 .card-title{margin-bottom:0;font-weight:600;font-size:16px;line-height:26px;color:#6a6a8e;padding:2px 40px 2px 0}
    .tabs-layout .nav-tabs .nav-link.active{color:#ffffff;background-color:#00baff;border-color:#00baff;border-radius:100px;}
    .tabs-layout .nav-tabs .nav-link{border:0px solid transparent;color:#6a6a8e;background-color:#efefef;border-radius:100px;padding:10px 35px;}
    .tabs-layout .nav-tabs .nav-item + .nav-item{margin:0 10px;}
    .tabs-layout .nav-tabs .nav-item + .nav-item:last-child{margin:0px;}
    .tabs-layout .nav-tabs{border-bottom:0px solid #dee2e6;}
    .tabs-layout .tab-content{padding:20px 0 0px 0;}
    .outline-tabs.tabs-layout .nav-tabs .nav-link{border:1px solid #efefef;color:#6a6a8e;background-color:#ffffff;border-radius:100px;}
    .outline-tabs.tabs-layout .nav-tabs .nav-link.active{color:#ffffff;background-color:#00baff;border-color:#00baff;border-radius:100px;}
    html .mt30 {margin-top: 30px;}
    html .pb20{padding-bottom:20px;}
    html .pt20{padding-top:20px;}
    html .mt60 {margin-top: 60px;}
    .accordion {overflow-anchor: none;}

    /********************Contact Us************************/
    .get-in-touch-wrapper{padding:30px 0 50px 0}
    .get-contact{padding: 0 100px;}
    .contact2dv{background:#0c4b7f;padding:30px;}
    .info-wrapr .dbox p span{color:#fff;font-size:20px;display:block;text-transform:capitalize;font-weight:700;}
    .info-wrapr .dbox{width:100%;color:#fff;margin-bottom:25px;}
    .info-wrapr .icon i{font-size:25px;}
    .info-wrapr .text a{color:#fff;}
    .pr30{padding-right:30px;}
    .pl30{padding-left:30px;}
    .enquire-form{background:#D6FFFC;background:-moz-linear-gradient(top, #D6FFFC 0%, #ffeff5 100%);background:-webkit-linear-gradient(top, #D6FFFC 0%,#ffeff5 100%);background:linear-gradient(to bottom, #D6FFFC 0%,#ffeff5 100%);}
    .custom-file-label::after{line-height:44px;position:absolute;top:0;right:0;bottom:0;z-index:3;display:block;border:0;height:auto;padding:0px 15px;color:#495057;content:"Browse";background-color:#e9ecef;border-left:inherit;border-radius:0;cursor:pointer;}
    .custom-file-label{position:absolute;top:0;right:0;left:0;z-index:1;padding:0px 15px;font-weight:400;height:50px;line-height:46px;background-color:#fff;border:2px solid #ced4da;border-radius:4px;}
    .custom-file{position:relative;display:inline-block;width:100%;height:auto;margin-bottom:0;}
    .modal-backdrop.show{opacity:0.9;z-index:99999;}
    .fdgn2 input, .fdgn2 select, .fdgn2 textarea{border:2px solid #e6e6e6 !important;}
    .form-block input:focus, .form-block textarea:focus{border-bottom:2px solid #0c4b7f;}
    .form-block input{width:100%;height:50px;padding:0px 15px;margin:0px 0 15px 0;color:#172b43;font-size:16px;outline:none;background:#fff;border:0;border-bottom:2px solid #e6e6e6;-webkit-border-radius:4px;border-radius:4px;}
    .form-block textarea{height:100px;width:100%;padding:15px;margin:0px 0 15px 0;color:#172b43;font-size:16px;outline:none;background:#fff;border:0;border-bottom:2px solid #e6e6e6;-webkit-border-radius:4px;border-radius:4px;}
    .form-block .form-group{margin-bottom:0;}
    .form-block select{width:100%;height:50px;padding:0px 15px;margin:0px 0 15px 0;color:#172b43;font-size:16px;outline:none;background:#fff;border:0;border-bottom:2px solid #e6e6e6;-webkit-border-radius:4px;border-radius:4px;}
    .help-block.with-errors{color:#ff5050;margin:0px 0 0 10px;font-size:13px;position:relative;bottom:12px;}
    .messages .alert{position:relative;padding:6px 25px 6px 6px;margin-bottom:1rem;border:1px solid transparent;border-radius:.25rem;font-size:14px;}
    .form-block .messages button:hover{background-color:transparent;}
    .messages .close{font-size:1.5rem;font-weight:700;line-height:1;color:#000;text-shadow:0 1px 0 #fff;opacity:.5;text-align:right;position:absolute;right:5px;top:0;}
    .custom-control-input:checked~.custom-control-label::before{color:#fff;}
    .custom-control-input:focus~.custom-control-label::before{-webkit-box-shadow:0 3px 6px rgba(91,130,148,.08);box-shadow:0 3px 6px rgba(91,130,148,.08);}
    .custom-control-input:focus:not(:checked)~.custom-control-label::before{border-color:#ffbc80;}
    .custom-control-label::before{position:absolute;top:2px;left:0.5rem;display:block;width:20px;height:20px;pointer-events:none;content:"";background-color:#fff;border:#adb5bd solid 1px;}
    .custom-control-label::after{position:absolute;top:-1px;left:6px;display:block;width:25px;height:25px;content:"";background:no-repeat 50%/50% 50%;}
    .custom-control{margin-bottom:10px;}
    .form-block label input{height:20px;width:20px;position:relative;top:5px;margin:0 5px 0 0;}
    .fieldsets label{position:relative;top:-14px;font-size:14px;color:#0c4b7f;margin:0;padding:0;display:inline;}
    .custom-control label{text-indent:-21px;padding:2px 20px;font-size:14px;}
    .form-block label a{color:#000;}
    .form-block p.trm{font-size:13px;width:100%;text-align:center;margin:10px 0 0 0;}
    .form-block p.trm i{padding:5px 5px 0 0;}
    .form-block button:hover{background-color:transparent;border: 1px solid #0c4b7f;color: #0c4b7f;}
    .form-block button{width:100%;}
    .info-wrapr h3{color: #fff;}
    html .mb60 {margin-bottom: 60px;}
    html .mt10 {margin-top: 10px;}
    .common-heading h2{font-weight: 500;}
    .btn-main:hover{color:#fff;}
    .btn-main{font-size:16px;font-weight:400;padding:0px 32px;line-height:56px;text-align:center;outline:none;color:#fff;background-color:#0c4b7f;border:1px solid transparent;-webkit-border-radius:100px;border-radius:100px;display:inline-block;position:relative;}
    .custom-checkbox .custom-control-input:checked~.custom-control-label::before{background-color: #0c4b7f;}
    .custom-checkbox{padding-left: 2.5rem;}

    /************Testimonial Wrapper**************/
    .testimonial-wrapper{padding:30px 0}
    .person-image img{width: 80px;height: 80px;border-radius: 50%;}
    .testimonial-person{box-shadow: 0px 0px 12px -5px rgba(0,0,0,0.5);padding: 25px; margin-bottom: 25px;}
    .person-image{display: flex;align-items: center;}
    .person-info{padding-left: 15px;}
    .person-content{padding-top:50px}
    .testimonial-block{padding:20px 200px;position: relative;z-index: 99;}
    .testimonial-bg{position: absolute;top:0;left:0;background: #0c4b7f;width: 100%;height: 60px;z-index: -10;margin: 0 -15px;}
    .testimonial-block .slick-prev,.testimonial-block .slick-next{background: #0c4b7f;border-radius: 50%;width: 30px;height: 30px;}
    .slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus{background: #0c4b7f !important;}

    /*************Footer Wrapper*************/
    .footer-wrapper{background: #000;padding:30px 0}
    .footer-contact ul{list-style-type: none;}
    .footer-contact ul li{display: flex;align-items: center;margin-bottom: 15px;}
    .contact-icon i{font-size: 20px;color: #fff;}
    .footer-contact a{color: #fff;padding-left: 15px;}
    .footer-title h4{font-size: 20px;color: #fff;margin-bottom: 20px;text-transform: uppercase;}
    .footer-links ul{list-style-type: none;}
    .footer-links ul li{display: flex;align-items: center;margin-bottom: 15px;}
    .footer-links a{color: #fff;}
    .footer-social ul{list-style-type: none;}
    .footer-social ul li{display: inline-block;margin-bottom: 15px;margin-right: 15px;}
    .footer-social a i{color: #fff;font-size: 30px;}
    .privacy-link,.copyright{text-align: center;}
    .privacy-link{border-top:1px solid #484848;padding-top:20px}
    .privacy-link ul{list-style-type: none;}
    .privacy-link ul li{display: inline-block;padding-right: 15px;}
    .privacy-link ul li a{color: #fff;}
    .copy-right p{text-align: center;color: #fff;padding-top: 10px;}

    /*#endregion*/

/*************************Media Query***************************/

/*************Mobile View**********/
@media screen and (max-width:767px) {
    /********Home Page*********/
    .header-wrapper{padding:10px 0}
    .coding-content{width: 100%;}
    .custom-logo img{width: 130px;}
    .covered-text{text-align: center;}
    .job-content-block h1{font-size: 18px;line-height: 26px;}
    .get-job-banner-wrapper{padding:30px 0 0 0}
    .job-banner img{width: 100%;}
    .orange-round{width: 50px;height: 50px;top:-25px;right: -10px;}
    .green-box{width:50px;height: 50px;left:-9px;border-radius: 15px;}
    .enroll-banner{width:100%}
    .enroll-banner p,.enroll-now-btn{font-size: 14px;}
    .enroll-banner{margin:40px 0}
    .price-block h2{font-size: 18px;}
    .login-button a{display: block;}
    .login-wrapper{justify-content: center;margin: 10px 0;}
    .custom-nav ul{text-align: center;}
    .refund-block h1,.seat-block p{font-size: 18px;}
    .deal-discount p{font-size: 18px;}
    .whatsapp-btn,.enroll-btn{font-size: 14px;padding:10px}
    .deal-offer-wrapper{padding:30px 0}
    .common-title h3{font-size: 20px;margin-bottom: 25px;}
    .course-content p{font-size: 14px;line-height: 22px;}
    .course-design-content{flex-wrap: wrap;justify-content: center;}
    .course-round{margin:0 12px 20px 12px}
    .mentor-card-content{padding:0}
    .member-img img{height: auto;}
    .member-info{margin-bottom: 20px;}
    .student-slider .slick-track{padding:10px 0}
    .student-detail{margin-right: 0;}
    .download-structure p,.download-btn,.coding-title h4{font-size: 14px;}
    .coding-content{padding:5px 15px}
    .covered-text{display: none;}
    .code-last{margin-bottom: 0;}
    .member-name{font-size: 20px;}
    .gamma-img{display: none;}
    .more-block{margin-bottom: 20px;}
    .gamma-content p {font-size: 14px;}
    .place-block,.get-contact{padding: 0;}
    .card-1 .card-title{white-space: revert;}
    .custom-control label{padding:2px 40px}
    .custom-checkbox {padding-left: 10px;}
    .custom-control-label::before{left:0}
    .custom-control-label::after{left:-2px}
    .common-heading h2{margin-top:20px}
    .footer-contact,.footer-links,.footer-social{margin-bottom: 30px;}
    .footer-block{text-align: center;}
    .footer-contact ul li,.footer-links ul li{justify-content: center;}
    .testimonial-block{padding:0 40px;}
    .deal-block{flex-wrap: wrap;}
    .deal-button{margin-top:20px;align-items: center;}
    .whatsapp-btn img{width:20px}

}
@media screen and (max-width:567px) {
    /********Home Page*********/
    .deal-button{text-align: left;padding-left: 0;}

}

/*************Tab View**********/
@media screen and (min-width:768px) and (max-width:991px) {
    /********Home Page*********/
    .mentor-card-content{padding:0}
    .member-img img{height: 220px;object-fit: cover;}
    .job-banner img{width:100%}
    .job-content-block h1{font-size: 30px;line-height: 50px;}
    .enroll-banner p{font-size: 24px;}
    .orange-round{width: 70px;height: 70px;top:-30px;right: 0px;}
    .green-box{width:100px;height: 100px;left:0;border-radius: 15px;}
    .job-banner{padding:0 40px}
    .get-job-banner-wrapper{padding:40px 0 0 0}
    .course-design-content{justify-content: center;flex-wrap: wrap;}
    .course-round{margin:0 20px;margin-bottom: 15px;}
    .member-name{font-size: 20px;}
    .enroll-banner{width: 100%;padding:0 30px}
    .coding-content{width: 100%;}
    .more-block{margin-bottom: 20px;}
    .card-1 .card-title{white-space: revert;}
    .testimonial-block{padding:0 40px;}
    .gamma-img{margin-left: 0;}
    .gamma-content p{font-size: 14px;}

}

/*************Desktop View**********/
@media screen and (min-width:992px) and (max-width:1279px) {
    /********Home Page*********/
    .mentor-card-content{padding:0}
    .member-img img{height: 330px;object-fit: cover;}
    .job-banner img{width:100%}
    .job-content-block h1{font-size: 30px;line-height: 50px;}
    .enroll-banner p{font-size: 24px;}
    .orange-round{width: 100px;height: 100px;top:-50px;right: 0px;}
    .green-box{width:100px;height: 100px;left:0;border-radius: 15px;}
    .job-banner{padding:0 40px}
    .get-job-banner-wrapper{padding:40px 0 0 0}
    .course-design-content{justify-content: center;flex-wrap: wrap;}
    .course-round{margin:0 20px}
    .member-name{font-size: 20px;}
    .more-block h3{font-size: 14px;}
    .more-block-img img{width: 45px;}
    .placement-company-img img{width: 100%;}
    .testimonial-block{padding:0 100px;}
    .more-block-sub h3{font-size: 14px;}
    .more-block-img-sub img{width: 45px;}
}

@media screen and (min-width:1280px) and (max-width:1600px) {
    /********Home Page*********/
    .orange-round{width: 150px;height: 150px;top:-70px;right: 35px;}
    .green-box{width:150px;height: 150px;left:25px;border-radius: 15px;}
    .member-img img{height: 380px;object-fit: cover;}
    .more-block h3{font-size: 14px;}
    .more-block-sub h3{font-size: 14px;}
}